minlen = {{ logindefs_pass_min_len}}
minclass = {{ pwquality_minclass }}
dcredit = -1
ucredit = -1
ocredit = -1
lcredit = -1
maxrepeat = {{ pwquality_maxrepeat }}
difok = {{ pwquality_difok}}
maxclassrepeat = 4
dictcheck = 1
maxsequence = {{ pwquality_maxseq }}
enforce_for_root
