flush ruleset

add table ip filter

# drop by default
add chain ip filter input { type filter hook input priority 0; policy drop; }
add chain ip filter forward { type filter hook forward priority 0; policy drop; }
add chain ip filter output { type filter hook output priority 0; policy drop; }

# allow established connections
add rule ip filter input ct state related,established accept

# drop icmp
add rule ip filter input ip protocol icmp drop

# drop invalid packets
add rule ip filter input ct state invalid drop

# allow all from loopback
add rule ip filter input iif lo accept

# disable forged packets from localhost
add rule ip filter input ip saddr 127.0.0.0/8 counter drop

# allow ssh everywhere
add rule ip filter input ct state new tcp dport 22 accept

# allow all outbound
add rule ip filter output ip protocol tcp ct state new,related,established accept
add rule ip filter output ip protocol udp ct state new,related,established accept
add rule ip filter output ip protocol icmp ct state new,related,established accept

# drop all ipv6
add table ip6 filter
add chain ip6 filter input { type filter hook input priority 0; policy drop; }
add chain ip6 filter forward { type filter hook forward priority 0; policy drop; }
add chain ip6 filter output { type filter hook output priority 0; policy drop; }
