# install
cdrom
text
skipx
firstboot --disable
eula --agreed
poweroff

# geography
keyboard --vckeymap=gb --xlayouts='gb'
lang en_GB.UTF-8
timezone Europe/London --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

# network
network  --bootproto=static --device=eth0 --gateway=192.168.0.1 --ip=192.168.0.83 --netmask=255.255.255.0 --nameserver=192.168.0.1,8.8.8.8 --noipv6 --activate
network  --hostname=localhost.localdomain

# users
auth --enableshadow --passalgo=sha512
rootpw password
user --name=simon --password=password

# disk
ignoredisk --only-use=sda
bootloader --location=mbr --boot-drive=sda --append="console=tty0 console=ttyS0,115200 rd_NO_PLYMOUTH"
clearpart --all --initlabel --drives=sda
autopart --type=lvm

# packages
%packages
@core
chrony
net-tools
%end

# services
services --enabled=chronyd
services --disabled=postfix
firewall --disabled
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
%post
systemctl enable fstrim.timer
%end
