# defaults
log_file = /var/log/audit/audit.log
flush = INCREMENTAL_ASYNC
priority_boost = 4
verify_email = yes
use_libwrap = yes
tcp_listen_queue = 5
tcp_max_per_addr = 1
tcp_client_max_idle = 0
transport = TCP
krb5_principal = auditd
distribute_network = no
q_depth = 1200
max_restarts = 10
plugin_dir = /etc/audit/plugins.d
end_of_event_timeout = 2

# stig changes
action_mail_acct = root
log_group = root
local_events = yes
name_format = HOSTNAME
freq = 100
write_logs = yes
log_format = ENRICHED
overflow_action = SYSLOG
space_left_action = email
admin_space_left = 5%
space_left = 25%
admin_space_left_action = SINGLE
disk_error_action = {{ auditd_disk_error_action}}
disk_full_action = {{ auditd_disk_full_action}}
max_log_file_action = {{ auditd_max_log_file_action}}
num_logs = {{ auditd_num_logs}}
max_log_file = {{ auditd_max_log_file}}
