# defaults
MAIL_DIR /var/spool/mail
UID_MIN 1000
UID_MAX 60000
SYS_UID_MIN 201
SYS_UID_MAX 999
SUB_UID_MIN 100000
SUB_UID_MAX 600100000
SUB_UID_COUNT 65536
GID_MIN 1000
GID_MAX 60000
SYS_GID_MIN 201
SYS_GID_MAX 999
SUB_GID_MIN 100000
SUB_GID_MAX 600100000
SUB_GID_COUNT 65536
USERGROUPS_ENAB yes
HMAC_CRYPTO_ALGO SHA512

# stig changes
ENCRYPT_METHOD SHA512
CREATE_HOME	yes
HOME_MODE 0700
UMASK {{ umask }}
PASS_MAX_DAYS {{ logindefs_pass_max_days }}
PASS_MIN_DAYS {{ logindefs_pass_min_days }}
PASS_WARN_AGE {{ logindefs_pass_warn_age }}
PASS_MIN_LEN {{ logindefs_pass_min_len }}
LOGIN_RETRIES {{ logindefs_retries}}
FAIL_DELAY {{ logindefs_fail_delay}}
