session optional                   pam_umask.so silent umask=0{{ umask }}
session [success=1 default=ignore] pam_succeed_if.so service !~ gdm* service !~ su* quiet
session [default=1]                pam_lastlog.so showfailed
session optional                   pam_lastlog.so showfailed
