# defaults
Include /etc/ssh/sshd_config.d/*.conf
AuthorizedKeysFile .ssh/authorized_keys
Subsystem sftp /usr/libexec/openssh/sftp-server

# required if ipv6 is disabled
# AddressFamily inet
# ListenAddress 0.0.0.0

AllowGroups {{ ssh_group }}
Banner /etc/issue.net
ClientAliveInterval 15
ClientAliveCountMax 1
DisableForwarding yes
GSSAPIAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
LoginGraceTime 60
LogLevel INFO
MaxAuthTries 4
MaxSessions 10
MaxStartups 10:30:60
PermitEmptyPasswords no
PermitRootLogin no
PermitUserEnvironment no
UsePAM yes
PubkeyAuthentication yes
X11forwarding no
PrintLastLog yes
X11UseLocalhost yes
StrictModes yes
KerberosAuthentication no
RekeyLimit 1G 1h
